<h1>We're sorry to hear about your loss. We hope we can help. Please tell us a little about your recent loss.</h1>

<%= render layout: 'form' do |f| %>
  <%= f.fields_for :passing do |b| %>
    <div class="field">
      <%= b.label :first_name %><br />
      <%= b.text_field :first_name %>
    </div>
    <div class="field">
      <%= b.label :last_name %><br />
      <%= b.text_field :last_name %>
    </div>
  <% end %>
<% end %>
