<h1>What was your relation to <%= @user.passings.first.first_name %>?</h1>

<%= render layout: 'form' do |f| %>
  <%= f.fields_for :passing do |b| %>
    <div class="field">
      <%= b.label :relation %><br />
      <%= b.text_field :relation %>
    </div>
  <% end %>
<% end %>
