<table class="table">
  <thead>
  <tr>
    <th>Created At</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @leads.each do |lead| %>
    <tr>
      <td><%= lead.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone_number %></td>
      <td><% if lead.user.present? %>
            <%= link_to '', admin_user_path(lead.user.id), class: 'fa fa-binoculars', title: 'View' %>
          <% else %>
            <%= link_to '', admin_lead_upgrade_form_path(lead_id: lead.id), class: 'fa fa-level-up', title: 'Upgrade', data: {modal: true} %>
          <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @leads %>
