<table class="table">
  <thead>
  <tr>
    <th>Created At</th>
    <th>Name</th>
    <th>Phone Number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @leads.each do |lead| %>
    <tr>
      <td><%= lead.created_at %></td>
      <td><%= lead.name %></td>
      <td><%= lead.phone_number %></td>
      <td> <%= link_to 'Upgrade', admin_lead_upgrade_form_path(lead_id: lead.id), data: {modal: true}%> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @leads %>
