<div class="wizard">
  <%= form_for @burial, url: wizard_path,  method: :put do |f| %>
    <legend>Private Viewing</legend>
    <div class="row content">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Would <%= @passing.first_name %>'s family like to have a private viewing before the service?</span>
      </div>
      <div class="error col-md-12 col-sm-12 col-xs-12">
        <span></span>
      </div>

      <br>

      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <div class= "radios">
          <%= f.radio_button :private_viewing, true, class: 'input-hidden' %>
          <%= f.label :private_viewing, value: true, class: '' do %>
            <div class="label-text"> Yes </div>
          <% end -%>

          <%= f.radio_button :private_viewing, false, class: 'input-hidden' %>
          <%= f.label :private_viewing, value: false, class: '' do %>
            <div class="label-text"> No </div>
          <% end -%>
        </div>
        <p class="form-label">(*) Mandatory</p>

      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Help!
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>

        </aside>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 pull-left actions">
        <%= link_to "Back", previous_wizard_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-3 pull-right actions">
        <%= f.submit "Next", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end -%>
</div>
