<div id="cremation-steps">
  <h3>Step 1</h3>
  <fieldset>
    <legend><%= @passing.first_name %>'s Information</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>When would you like to put <%= @passing.first_name %> to rest?</span>
      </div>
      <div class="header error col-md-12 col-sm-12 col-xs-12">
        <span></span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <div>
            <%= f.hidden_field :id, value: @cremation.id %>
            <br />
            <%= render partial: 'shared/plan_dates', locals: { f: f } %>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 2</h3>
  <fieldset>
    <legend>Type of service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Would you like a public service for <%= @passing.first_name %> before?</span>
      </div>

      <br>


      <div class="col-md-5 col-sm-5 col-xs-10 col-xs-offset-1">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div class= "radios">
            <%= f.label :public_service, 'Yes', value: true, class: 'yes-no pull-left' %>
            <%= f.radio_button :public_service, true %>

            <%= f.label :public_service, 'No', value: false, class: 'yes-no pull-right' %>
            <%= f.radio_button :public_service, false %>

          </div>
          <br />

        <% end -%>

      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>

        </aside>
      </div>

    </div>
  </fieldset>
  <h3>Step 3</h3>
  <fieldset>
    <legend>Open or Closed Casket</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>What about an open casket?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
         <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :open_casket, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :open_casket, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 4</h3>
  <fieldset>
    <legend>Private Viewing</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Would <%= @passing.first_name %>'s family like to have a private viewing before the service?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :private_viewing, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :private_viewing, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 5</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Would <%= @passing.first_name %> like a religious or cultural service?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :religious_cultural_service, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :religious_cultural_service, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 6</h3>
  <fieldset>
    <legend>Type of religion/culture</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Sounds like a nice touch.</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>What type of culture or religion does <%= @passing.first_name %> identify with?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
            <%= f.collection_select :religion_culture_type, Religion.order(:name),:name,:name, include_blank: true, class: 'form-control' %>
          </div>
          <br />
          <div>
            <%= f.collection_select :religion_culture_type, Culture.order(:name),:name,:name, include_blank: true, class: 'form-control' %>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 7</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Where do you think you'd like to hold the service?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :type_of_service_space, 'funeral home' %> Funeral Home
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :type_of_service_space, 'worship space' %> Worship Space
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :type_of_service_space, 'another space' %> Another Space
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 8</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Sounds like a nice touch</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Do you have a worship space in mind</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :worship_space_in_mind, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :worship_space_in_mind, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 9</h3>
  <fieldset>
    <legend>Worship Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Sounds special.</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Which worship space are you thinking about?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
            <%= f.collection_select :religion_culture_type, WorshipSpace.order(:name),:name,:name, include_blank: true, class: 'form-control' %>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 10</h3>
  <fieldset>
    <legend></legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>No sweat.</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>This is something we can come back to later and help you figure out.</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 11</h3>
  <fieldset>
    <legend>Worship Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>What's the address?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>

          <%= f.fields_for :service_space_address do |address| %>
            <%= render partial: 'shared/address', locals: { f: address } %>
          <% end -%>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 12</h3>
  <fieldset>
    <legend>Burial Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span><em>High 5</em> You're doing a great job! Let's keep moving.</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Would <%= @passing.first_name %>'s family like to be present during the cremation?</span>
      </div>
      <br>


      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :present_during_cremation, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :present_during_cremation, false %> No
          </label>
          </div>
        <% end -%>

      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>

        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 13</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Where are you thinking of keeping the ashes?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :place_of_ash_storage, 'home' %> Home
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :place_of_ash_storage, 'cemetery' %> Cemetery
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :place_of_ash_storage, 'mausoleum' %> Mausoleum
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :place_of_ash_storage, 'scatter' %> Scatter
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 14</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Do you have a Cemetery/Mausoleum in mind?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :ash_storage_space_in_mind, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :ash_storage_space_in_mind, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 15</h3>
  <fieldset>
    <legend></legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>No sweat. Most people don't.</span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>We can help you plan.</span>
      </div>
      <br>
      <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Would sort of plan are you thinking? </span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-5">
          <button id="get-burial-cemetery" type="button" class="btn btn-primary btn-unrounded btn-block">Cemetery Plan</button>
        </div>
        <div class="col-xs-5 col-xs-offset-2">
          <button id="get-burial-mausoleum" type="button" class="btn btn-primary btn-unrounded btn-block">Mausoleum Plan</button>
        </div>
      </div>
    </div>
    </div>
  </fieldset>
  <h3>Step 16</h3>
  <fieldset>
    <legend>Worship Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>What's the address?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>

          <%= f.fields_for :ash_storage_address do |address| %>
            <%= render partial: 'shared/address', locals: { f: address } %>
          <% end -%>
         <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 17</h3>
  <fieldset>
    <legend>Worship Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span></span>
      </div>
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Do you own the space?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f|  %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :ash_storage_space_owned, true %> Yes
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :ash_storage_space_owned, false %> No
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 18</h3>
  <fieldset>
    <legend></legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Great! this'll definitely help speed things up.</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 19</h3>
  <fieldset>
    <legend>Type of Service</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>Where do you think you'd like to hold the service?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>
          <div>
          <label>
            <%= f.radio_button :ash_transit_type, 'pickup' %> I'll Pick them up
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :ash_transit_type, 'car delivery' %> Car Delivery
          </label>
          </div>
          <br />
          <div>
          <label>
            <%= f.radio_button :ash_transit_type, 'mail delivery' %> Mail Delivery
          </label>
          </div>
        <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 20</h3>
  <fieldset>
    <legend>Worship Space</legend>
    <div class="row">
      <div class="header col-md-12 col-sm-12 col-xs-12">
        <span>What's the address?</span>
      </div>
      <br>
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
        <%= form_for @cremation, remote: true, url: user_cremation_update_path, method: :patch do |f| %>
          <%= f.hidden_field :id, value: @cremation.id %>

          <%= f.fields_for :ash_delivery_address do |address| %>
            <%= render partial: 'shared/address', locals: { f: address } %>
          <% end -%>
         <% end -%>
      </div>
      <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12">
        <aside class="frame">
          <ul>
            <li class="frame-head">
              <div class="center">
                Quick Tips
              </div>
            </li>
            <li class="disc-item">
              we hope to help you in whichever way we can
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </fieldset>
  <h3>Step 21</h3>
  <fieldset>
  <legend>Finish</legend>
  <div class="row">
    <div class="header col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12"></div>

      </div>
      <span>Great we've noted all your information.</span>
    </div>

    <br/>

    <div class="subtext col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      <span> Send out your information now to Funeral Homes near by. Soon we'll be able to give you a price quote.</span>
      <br/>
      <hr>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <button id="get-started" type="button" class="btn btn-primary btn-unrounded btn-block">Send to Funeral Homes</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </fieldset>
</div>
